
<!DOCTYPE html>
<html ng-app="ToDoApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ang Ang Ang a</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="angular.js"></script>
    <script src="todo.js"></script>

</head>
<body>

    <div class="container">

        <div class="row">

            {{ 5 + 4 }}

            <hr />

            <div>

                <div ng-controller="TaskController">
                    <h1>{{ title }}</h1>

                    <br />

                    <form ng-submit="insert(newTask)">
                        <input type="text" ng-model="newTask.content" /> 
                        <input type="submit"  class="btn btn-info" value="Add" />
                    </form>
                    <hr />
                    <div ng-repeat="task in tasks | orderBy: '-addedOn'">
                        {{ task.content }}
                        <br />
                        <p class="small">Task was added on {{ task.addedOn | date:'fullDate'}}</p>
                        <hr />
                        
                    </div>
                </div>

            </div>

        </div>
    </div>

    <hr />

</body>

<footer>
    <p>&copy; Company 2014</p>
</footer>
<!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>
